
Fases Anteriores/Variação de parametros/Var_of_par.py

Fases Anteriores/Variação de parametros/var_par_2.py

Fases Anteriores/Variação de parametros/var_par_3.py

Fases Anteriores/Variação de parametros/var_par_3.py

Fases Anteriores/Variação de parametros/var_par_2.py

Fases Anteriores/Variação de parametros/Var_of_par.py

*.pyc

Integracao Final/Final 10.1/ODE_Solver.py
Fases Anteriores/GUI_Final/v5.py
Fases Anteriores/GUI_Final/v5.py
Fases Anteriores/GUI_Final/v5.py.bak1
Fases Anteriores/GUI_Final/v5.tcl
Fases Anteriores/GUI_Final/v5.tcl.bak
Fases Anteriores/GUI_Final/v5.py
Fases Anteriores/GUI_Final/v5.tcl

Imagens TISE/EDOLCC_ReprAlgébrica.PNG

Imagens TISE/Fluxo de informações no Objeto-Nelson.docx

*.txt

Integracao Final/Final 29/config.txt
