
Fases Anteriores/Variação de parametros/Var_of_par.py

Fases Anteriores/Variação de parametros/var_par_2.py

Fases Anteriores/Variação de parametros/var_par_3.py

Fases Anteriores/Variação de parametros/var_par_3.py

Fases Anteriores/Variação de parametros/var_par_2.py

Fases Anteriores/Variação de parametros/Var_of_par.py

*.pyc

Integracao Final/Final 10.1/ODE_Solver.py
